<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technovation Girls Uzbekistan Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet MarkerCluster CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <!-- Leaflet Search CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-search@2.9.9/dist/leaflet-search.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
    

    <!-- Leaflet Geocoder Plugin CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    


</head>

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/logo2.png') }}" alt="Tech4Impact Logo" height="40">
    </a>
    <div class="navbar-brand">
        <img src="{{ url_for('static', filename='img/logo1.png') }}" alt="Technovation Girls Logo" height="50">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<!-- Description under the navbar -->
<div class="navbar-description">
    This is a database of Technovation Girls Uzbekistan alumnae, the database is updated annually. Personal data of the alumni is not disclosed.
</div>

<div class="container">
    <h1 class="text-center my-4">Technovation Girls Uzbekistan Dashboard</h1>
    
    

    <!-- Map Container -->
    <div id="map" style="height: 600px; width: 100%;"></div>

    <!-- Clearfix to ensure the map section is separate from the charts -->
    <div class="clearfix"></div>

    <!-- Charts -->
    <div class="chart-container">
        <div class="chart-wrapper">
            <h5 class="chart-title">Считаете ли вы, что Technovation повлияла на ваш выбор профессии?</h5>
            <canvas id="influenceChart"></canvas>
        </div>
        <div class="chart-wrapper">
            <h5 class="chart-title">Указываете ли вы Technovation в своем резюме?</h5>
            <canvas id="resumeChart"></canvas>
        </div>
        <div class="chart-wrapper">
            <h5 class="chart-title">Связана ли ваша учеба или работа с IT?</h5>
            <canvas id="itRelatedChart"></canvas>
        </div>
        <div class="chart-wrapper">
            <h5 class="chart-title">В каких направлениях участвуют или работают выпускницы Technovation Girls?</h5>
            <canvas id="fieldsChart"></canvas>
        </div>
    </div>
    
    <div class="carousel-container">
        <h5>Компании, в которых работают выпускницы Technovation</h5>
        <div class="carousel-viewport">
            <ul class="company-list">
                <li class="company-item">
                    <div class="company-logo">
                        <img src="static/img/tbc.png" alt="TBC Uzbekistan Logo">
                    </div>
                    <div class="company-name">TBC Uzbekistan</div>
                </li>
                <li class="company-item">
                    <div class="company-logo">
                        <img src="static/img/logo2.png" alt="Лицей НИУ ВШЭ (Москва) Logo">
                    </div>
                    <div class="company-name">Лицей НИУ ВШЭ (Москва)</div>
                </li>
                <li class="company-item">
                    <div class="company-logo">
                        <img src="static/img/tbc.png" alt="Terranova Uzbekistan Logo">
                    </div>
                    <div class="company-name">Terranova Uzbekistan</div>
                </li>
                <li class="company-item">
                    <div class="company-logo">
                        <img src="static/img/uzauto.jpg" alt="UzAuto Motors Logo">
                    </div>
                    <div class="company-name">UzAuto Motors</div>
                </li>
                <li class="company-item">
                    <div class="company-logo">
                        <img src="static/img/logo2.png" alt="TUIT имени Мухаммеда аль-Хорезми, Ташкент Logo">
                    </div>
                    <div class="company-name">TUIT имени Мухаммеда аль-Хорезми, Ташкент</div>
                </li>
                <li class="company-item">
                    <div class="company-logo">
                        <img src="static/img/logo2.png" alt="TUIT имени Мухаммеда аль-Хорезми, Ташкент Logo">
                    </div>
                    <div class="company-name">TUIT имени Мухаммеда аль-Хорезми, Ташкент</div>
                </li>
                <li class="company-item">
                    <div class="company-logo">
                        <img src="static/img/uzauto.jpg" alt="TUIT имени Мухаммеда аль-Хорезми, Ташкент Logo">
                    </div>
                    <div class="company-name">TUIT имени Мухаммеда аль-Хорезми, Ташкент</div>
                </li>
            </ul>
        </div>
        <button class="scroll-btn prev" onclick="scrollList(-1)">&lt;</button>
        <button class="scroll-btn next" onclick="scrollList(1)">&gt;</button>
    </div>
    
    <div class="container statistics-container">
        <h5>Results of Technovation Girls Uzbekistan</h5>
        <div class="d-flex justify-content-around align-items-center">
            <div class="statistics-item">
                Seasons (since 2016):<br>
                <span>8</span>
            </div>
            <div class="statistics-divider"></div>
            <div class="statistics-item">
                Participants:<br>
                <span>3 500 girls</span>
            </div>
            <div class="statistics-divider"></div>
            <div class="statistics-item">
                Mentors:<br>
                <span>250 +</span>
            </div>
            <div class="statistics-divider"></div>
            <div class="statistics-item">
                Mobile Apps:<br>
                <span>320</span>
            </div>
        </div>
    </div>



    
    <div class="story-section">
        <div class="story-background">
            <!-- Placeholder for the picture in the background -->
            <img src="static/img/technovationMuza.jpg" alt="Background Image" class="img-fluid">
        </div>
        <div class="story-content text-center">
            <!-- The main heading -->
            <h2>Tell us your story!</h2>
            <!-- Sample text -->
            <p class="lead">Have been mentoring teams or taking part? Want to tell girls of Uzbekistan what you have achieved through our program? Then fill in the form and let us know.</p>
            <!-- Button linking to Google Forms -->
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScQOsnHzwYmL02aPM6h4YFnkUn0Rk0w3FwHfiMsXd36DwqRWQ/viewform" target="_blank" class="btn btn-primary">Submit Story</a>
        </div>
    </div>


    
</div>

    <!-- Footer Section -->
<div class="footer">
    Technovation &copy; 2024
</div>

        

    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
        function scrollList(amount) {
            const container = document.querySelector('.company-list');
            container.scrollBy({ left: amount, behavior: 'smooth' });
        }
    </script>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Leaflet JavaScript -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<!-- Leaflet MarkerCluster JavaScript -->
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<!-- Leaflet Search JavaScript -->
<script src="https://unpkg.com/leaflet-search@2.9.9/dist/leaflet-search.min.js"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<!-- Custom JavaScript -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/charts.js') }}"></script> <!-- Include your charts.js file -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>


</body>
</html>
