<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a802c68573aa6142db5c0f8d94d28d68 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_a802c68573aa6142db5c0f8d94d28d68" ></div>
        
</body>
<script>
    
    
            var map_a802c68573aa6142db5c0f8d94d28d68 = L.map(
                "map_a802c68573aa6142db5c0f8d94d28d68",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_440c0c0f46f08082e333bf400d0c5ec6 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_440c0c0f46f08082e333bf400d0c5ec6.addTo(map_a802c68573aa6142db5c0f8d94d28d68);
        
    
            var marker_7eef3e7bed201fcf8517ba79899f3b8d = L.marker(
                [41.2995, 69.2401],
                {}
            ).addTo(map_a802c68573aa6142db5c0f8d94d28d68);
        
    
            var icon_c391aa42cf5a516a0c98631af400a76f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7eef3e7bed201fcf8517ba79899f3b8d.setIcon(icon_c391aa42cf5a516a0c98631af400a76f);
        
    
        var popup_819e80234f22bd45b1440c650cf30fbc = L.popup({"maxWidth": 300});

        
            
                var html_517afb4db74e090f74b269a1e1da9728 = $(`<div id="html_517afb4db74e090f74b269a1e1da9728" style="width: 100.0%; height: 100.0%;">         <strong>Shahzoda</strong><br>         Role: Participant, Mentor<br>         Year of participation: 2022–2023<br>         The name of the university: Tashkent University of Information Technologies named after Muhammad al-Khwarizmi, Tashkent<br>         Specialization: Engineering<br>         Quote: “I’m not going to limit myself just because people won’t accept the fact that I can do something else.”         </div>`)[0];
                popup_819e80234f22bd45b1440c650cf30fbc.setContent(html_517afb4db74e090f74b269a1e1da9728);
            
        

        marker_7eef3e7bed201fcf8517ba79899f3b8d.bindPopup(popup_819e80234f22bd45b1440c650cf30fbc)
        ;

        
    
</script>
</html>