<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e8908dca67a1266ca969e82bd6e8bc09 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_e8908dca67a1266ca969e82bd6e8bc09" ></div>
        
</body>
<script>
    
    
            var map_e8908dca67a1266ca969e82bd6e8bc09 = L.map(
                "map_e8908dca67a1266ca969e82bd6e8bc09",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_df747c17e65da94f3f43f4d2cdd0f5ae = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_df747c17e65da94f3f43f4d2cdd0f5ae.addTo(map_e8908dca67a1266ca969e82bd6e8bc09);
        
    
            var marker_e3466c46366e6b5d4d17377092035a6c = L.marker(
                [41.2995, 69.2401],
                {}
            ).addTo(map_e8908dca67a1266ca969e82bd6e8bc09);
        
    
            var icon_c6cd3eba1865c21cdb4fe1d00568fbbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e3466c46366e6b5d4d17377092035a6c.setIcon(icon_c6cd3eba1865c21cdb4fe1d00568fbbc);
        
    
        var popup_42d32bc21e29e488ed903f38e917375a = L.popup({"maxWidth": 300});

        
            
                var html_06817e7da233a196dec755b44227f156 = $(`<div id="html_06817e7da233a196dec755b44227f156" style="width: 100.0%; height: 100.0%;">         <strong>Shahzoda</strong><br>         Role: Participant, Mentor<br>         Year of participation: 2022–2023<br>         The name of the university: Tashkent University of Information Technologies named after Muhammad al-Khwarizmi, Tashkent<br>         Specialization: Engineering<br>         Quote: “I’m not going to limit myself just because people won’t accept the fact that I can do something else.”         </div>`)[0];
                popup_42d32bc21e29e488ed903f38e917375a.setContent(html_06817e7da233a196dec755b44227f156);
            
        

        marker_e3466c46366e6b5d4d17377092035a6c.bindPopup(popup_42d32bc21e29e488ed903f38e917375a)
        ;

        
    
</script>
</html>