<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cae14f32cb0af7e948ed2a4a9d433bbb {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_cae14f32cb0af7e948ed2a4a9d433bbb" ></div>
        
</body>
<script>
    
    
            var map_cae14f32cb0af7e948ed2a4a9d433bbb = L.map(
                "map_cae14f32cb0af7e948ed2a4a9d433bbb",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_d8c9f9074206a6d74405fd08b151b84d = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_d8c9f9074206a6d74405fd08b151b84d.addTo(map_cae14f32cb0af7e948ed2a4a9d433bbb);
        
    
            var marker_54d85f281b32d795218d914eb9f0e597 = L.marker(
                [41.2995, 69.2401],
                {}
            ).addTo(map_cae14f32cb0af7e948ed2a4a9d433bbb);
        
    
            var icon_2b19c1ddd6a48b9fe732f6c73979a371 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_54d85f281b32d795218d914eb9f0e597.setIcon(icon_2b19c1ddd6a48b9fe732f6c73979a371);
        
    
        var popup_94228b5c4f911b95074993e121f1ad4a = L.popup({"maxWidth": 300});

        
            
                var html_ad26b933513d233f80dd3b098249bf6c = $(`<div id="html_ad26b933513d233f80dd3b098249bf6c" style="width: 100.0%; height: 100.0%;">         <strong>Shahzoda</strong><br>         Role: Participant, Mentor<br>         Year of participation: 2022–2023<br>         The name of the university: Tashkent University of Information Technologies named after Muhammad al-Khwarizmi, Tashkent<br>         Specialization: Engineering<br>         Quote: “I’m not going to limit myself just because people won’t accept the fact that I can do something else.”         </div>`)[0];
                popup_94228b5c4f911b95074993e121f1ad4a.setContent(html_ad26b933513d233f80dd3b098249bf6c);
            
        

        marker_54d85f281b32d795218d914eb9f0e597.bindPopup(popup_94228b5c4f911b95074993e121f1ad4a)
        ;

        
    
</script>
</html>